
body{
	width:960;
	background: #222; 
	margin:auto;
}

h1{
	font-family: "Trebuchet MS",arial;
	color:#888;
	margin-left:70px;
}
#signup {
    width: 260px;
    height: 330px;
    margin-left: 600px;
    margin-top: 95px;
    padding: 20px;
    position: absolute;
    background: #222; 
 
}

#signin {
    width: 260px;
    height: 330px;
    margin: 100px;
    padding: 20px;
    position: absolute;
    background: #222; 
 
}

#signin::before, 
#signin::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 2px;
    right: 2px;
    top: 0;
    z-index: -1;
           
}

#signin::after {
    left: 4px;
    right: 4px;
    bottom: -5px;
    z-index: -2;
    
}

#signup::before, 
#signup::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 2px;
    right: 2px;
    top: 0;
    z-index: -1;
           
}

#signup::after {
    left: 4px;
    right: 4px;
    bottom: -5px;
    z-index: -2;
    
}


 #signin input{
    margin: 5px 0;
    padding: 15px;
    width: 100%;
    *width: 250px; /* IE7 and below */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 1px; 
}

#signin input:focus{
        outline: 0;
        border-color: #aaa;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .3) inset;
}       

#signin button{
    margin: 20px 0 0 0;
    padding: 15px 8px;          
    width: 100%;
    cursor: pointer;
    border: 1px solid #6FD72A;
    overflow: visible;
    display: inline-block;
    color: #fff;
    font: bold 1.4em arial, helvetica;
    text-shadow: 0 -1px 0 rgba(0,0,0,.4);         
    background-color: #5DBC1D;
    background-image: linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0)); 
    transition: background-color .2s ease-out;
    border-radius: 3px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .3),
                0 1px 0 rgba(255, 255, 255, .5) inset;                               
}

#signin button:hover{
    background-color: #6FD72A;
        border-color: #6FD72A;
}

#signin button:active{
    position: relative;
    top: 3px;
    text-shadow: none;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .3) inset;
}  

#signup input{
    margin: 5px 0;
    padding: 15px;
    width: 100%;
    *width: 250px; /* IE7 and below */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 1px; 
}

#signup input:focus{
        outline: 0;
        border-color: #aaa;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .3) inset;
}       

#signup button{
    margin: 20px 0 0 0;
    padding: 15px 8px;          
    width: 100%;
    cursor: pointer;
    border: 1px solid #6FD72A;
    overflow: visible;
    display: inline-block;
    color: #fff;
    font: bold 1.4em arial, helvetica;
    text-shadow: 0 -1px 0 rgba(0,0,0,.4);         
    background-color: #5DBC1D;
    background-image: linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0)); 
    transition: background-color .2s ease-out;
    border-radius: 3px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .3),
                0 1px 0 rgba(255, 255, 255, .5) inset;                               
}

#signup button:hover{
    background-color: #6FD72A;
        border-color: #6FD72A;
}

#signup button:active{
    position: relative;
    top: 3px;
    text-shadow: none;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .3) inset;
}

#block{

    width:0.5px;
    height:200px;
    background-color: #444;
    margin-left:500px;
    margin-top:130px;
    position:absolute;

    background: -webkit-linear-gradient(#222, #444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#222, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#222, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#222, #444); /* Standard syntax */
}

#block1{

    width:0.5px;
    height:200px;
    background-color: #444;
    margin-left:500px;
    margin-top:330px;
    position:absolute;

    background: -webkit-linear-gradient(#444, #222); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#444, #222); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#444, #222); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#444, #222); /* Standard syntax */
}