body
{
    background-image: url("/img/Plattegrond.png");
    background-repeat: no-repeat;
    margin-left: 20px;
    position: absolute;
}
#S201{
    background-Color: #7fff00;
    margin-left: 200px; 
}
#button {
    text-align: center;
    vertical-align: middle;
}

b {
    margin-top: 50;
    margin-left: 40%;
    font-size: 20px;
}
.text-danger {
  color: #b94a48;
    margin-left: 1100px;
    margin-top: 1%;
}


#Spots {
    display: table;
    width: 20px;
    height: 15px;
    position: absolute;
}
.Spots:hover {
    cursor: pointer;
}
.Reserveren {
    width: 250px;
    margin-left: 1100px;
    margin-top: 2%;
}
.map {
    width: 650px;
    margin-left: 44%;
}
.buttons {
    background-color: green;
    position: absolute;
}
.btn201 {
    margin-top: 225px;
}
.btn202 {    
    margin-top: 200px;
}
.btn203 {
    margin-top: 175px;
}
.btnreserveer {
    position: absolute;
    background-color: #5DBC1D;
    margin-top: 7%; 
    margin-left: 1100px;
}
.btnreserveer:hover {
       background-color: #6FD72A;
       border-color: #6FD72A;
}
.Calendar {

}
